:root {
  /* Neutral Colors */
  --background: #dbd1b8;
  --background-secondary: #24231a;
  --text-primary: #5f5d51;
  --text-heading: #9a9560;
  --button-background: #524f32;
}

* {
  background: var(--background);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.textDiv {
  padding: 20px;
}

.right {
  float: right;
}
